@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
  line-height: 1.2;
}

ul {
  width: 80vw;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}
ul li {
  border-bottom: 2px solid #e6e6e6;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
ul li a {
  display: block;
  padding: 40px;
  text-decoration: none;
  color: #222;
  transition: 0.2s ease-in-out;
}
ul li a h3 {
  margin: 0 0 15px;
  font-size: 26px;
  font-weight: 900;
}
ul li a p {
  margin: 0;
  font-size: 12px;
  max-width: calc(100% - 110px);
}
ul li a i {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translatey(-50%);
  font-size: 80px !important;
  opacity: 0.25;
}
ul li:hover {
  background-color: #55acee;
  box-shadow: 0 10px 15px 0 #e6e6e6;
}
ul li:hover > a {
  color: #fff;
}
ul li:first-child {
  border-top: 2px solid #e6e6e6;
}
